p { 
	margin-right: 100px;
	margin-left: 600px;
	margin-top: 50px;
   	text-align: justify;	
}

img { 
	float: left;
	margin-right: 100px;
   	margin-left: 100px;
	padding: 20px;
	height: auto;
	width: 40%
}

h2 { 
	color: #6D4C3D;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 600px;
   	text-align: left;
}



