* {
margin: 5px;
}

body {
background-color: #FEC1C1;
}

h1 {
color: white;
font: small-caps 40px cursive;
}

nav {
display: flex;
background-color: #FFDEDe;
}

nav a {
color: #5B3000;
text-aligh:center;
padding: 8px;
font: 24px cursive;
text-decoration: none;
}

nav a.active {
background-color: #ffffff;
}

p {
background-color: #FFDEDe;
color: #5B3000;
font: 16px system-ui;
display: inline;
padding: 10px
}


img {
height: 500px;
}

.maininfo {
display: flex;
}
