* {
margin: 5px;
}

body {
background-color: #FEC1C1;
}

h1 {
color: white;
font: small-caps 40px cursive;
}

h2 {
color: white;
font: 24px cursive;
display: flex;
}

p {
background-color: #FFDEDe;
color: #5B3000;
font: 16px system-ui;
display: inline;
padding: 5px
}

ul {
background-color: #FFDEDe;
color: #5B3000;
font: 16px system-ui;}

img {
height: 500px;
}

.maininfo {
display: flex;
}

.charactermenu {
padding-left: 40px;
}
